 .exercise-container{
     display: grid;
     grid-template-columns:4fr 1fr;
 }

 .equipments{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     row-gap: 20px;
 }
 .card{
    height: 480px;
    border-radius: 10px;
 }
 .equipment-container{
    margin: 50px;
 }

 .activities{
    background-color: white;
   
 }

                       


 @media screen  {
   
 }